Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildversion, funfair-buildversion-detection, funfair-buildversion-detection-tests, funfair-buildversion-interfaces, funfair-buildversion-publishers, funfair-buildversion-publishers-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Config] Updated .gitleaks.toml
  .gitleaks.toml
Labels: none

[Actions] Updated .github/actions/docker-setup/action.yml
  .github/actions/docker-setup/action.yml
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.164
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.165
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.166
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.167
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.168
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.168
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.6
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

9.0.100-preview.6.24328.19
  src/global.json
Labels: .NET update

net 9.0
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project

SDK - Updated Dotnet to 9.0 RC1
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.402
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Cleanup] - Code cleanup on FunFair.BuildVersion.sln
  src/FunFair.BuildVersion.Detection/GitBranchDiscovery.cs
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildversion":
 - any: [ 'src/$FunFair.BuildVersion/**/*' ]
"funfair-buildversion-detection":
 - any: [ 'src/$FunFair.BuildVersion.Detection/**/*' ]
"funfair-buildversion-detection-tests":
 - any: [ 'src/$FunFair.BuildVersion.Detection.Tests/**/*' ]
"funfair-buildversion-interfaces":
 - any: [ 'src/$FunFair.BuildVersion.Interfaces/**/*' ]
"funfair-buildversion-publishers":
 - any: [ 'src/$FunFair.BuildVersion.Publishers/**/*' ]
"funfair-buildversion-publishers-tests":
 - any: [ 'src/$FunFair.BuildVersion.Publishers.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
