Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildversion, funfair-buildversion-detection, funfair-buildversion-detection-tests, funfair-buildversion-gittagbuildnumber, funfair-buildversion-interfaces, funfair-buildversion-publishers, funfair-buildversion-publishers-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.9.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.23.1420
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.215
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.2
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.305
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Net10
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project

Updated DotNet SDK to 10.0.100-preview.6.25358.103
  src/global.json
Labels: .NET update

Removed net 8
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project

Updated DotNet SDK to 10.0.100-preview.7.25380.108
  src/global.json
Labels: .NET update

DotNet 10
  CHANGELOG.md
Labels: Change Log, Markdown

Updated DotNet SDK to 10.0.100-rc.1.25451.107
  src/global.json
Labels: .NET update

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildversion":
 - any: [ 'src/$FunFair.BuildVersion/**/*' ]
"funfair-buildversion-detection":
 - any: [ 'src/$FunFair.BuildVersion.Detection/**/*' ]
"funfair-buildversion-detection-tests":
 - any: [ 'src/$FunFair.BuildVersion.Detection.Tests/**/*' ]
"funfair-buildversion-gittagbuildnumber":
 - any: [ 'src/$FunFair.BuildVersion.GitTagBuildNumber/**/*' ]
"funfair-buildversion-interfaces":
 - any: [ 'src/$FunFair.BuildVersion.Interfaces/**/*' ]
"funfair-buildversion-publishers":
 - any: [ 'src/$FunFair.BuildVersion.Publishers/**/*' ]
"funfair-buildversion-publishers-tests":
 - any: [ 'src/$FunFair.BuildVersion.Publishers.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
