Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildVersion, Detection, Detection.Tests, Interfaces, Publishers, Publishers.Tests, prepublish

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildVersion":
 - any: [ 'src/FunFair.BuildVersion/**/*' ]
"Detection":
 - any: [ 'src/FunFair.BuildVersion.Detection/**/*' ]
"Detection.Tests":
 - any: [ 'src/FunFair.BuildVersion.Detection.Tests/**/*' ]
"Interfaces":
 - any: [ 'src/FunFair.BuildVersion.Interfaces/**/*' ]
"Publishers":
 - any: [ 'src/FunFair.BuildVersion.Publishers/**/*' ]
"Publishers.Tests":
 - any: [ 'src/FunFair.BuildVersion.Publishers.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.5.315
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, Detection, Detection.Tests, Interfaces, Publishers, Publishers.Tests

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.12.324
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, Detection, Detection.Tests, Interfaces, Publishers, Publishers.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.47.409
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, Detection.Tests, Publishers.Tests

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.18.174
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
Labels: C# Project, Change Log, Markdown, Detection

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.48.414
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, Detection.Tests, Publishers.Tests

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.23.1.88495
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, Detection, Detection.Tests, Interfaces, Publishers, Publishers.Tests

[Build Props] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

Fixed code analysis issues
  src/FunFair.BuildVersion.Detection/BranchClassification.cs
  src/FunFair.BuildVersion.Detection/VersionDetector.cs
Labels: Detection

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions
