Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests, prepublish

[FF-1429] Updating SecurityCodeScan.VS2019 (Code analysis) to 5.6.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating TeamCity.VSTest.TestAdapter (Test Infrastructure) to 1.0.36
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SecurityCodeScan.VS2019 (Code analysis) to 5.6.2
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SmartAnalyzers.CSharpExtensions.Annotations (Code analysis) to 4.2.2
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.696
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.36.1.44192
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.697
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/rebase.yml to match the template repo
  .github/workflows/rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[FF-1429] Updating Microsoft.Extensions (Microsoft Extensions) to 6.0.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 5.9.3.1699
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-3881] - Updated DotNet SDK to 6.0.201
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.698
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .gitignore to match the template repo
  .gitignore
Labels: none

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .gitignore to match the template repo
  .gitignore
Labels: none

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 5.9.4.1729
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Roslynator.Analyzers (Code analysis) to 4.1.0
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.37.0.45539
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.699
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildVersion":
 - any: [ 'src/FunFair.BuildVersion/**/*' ]
"FunFair.BuildVersion.Detection":
 - any: [ 'src/FunFair.BuildVersion.Detection/**/*' ]
"FunFair.BuildVersion.Detection.Tests":
 - any: [ 'src/FunFair.BuildVersion.Detection.Tests/**/*' ]
"FunFair.BuildVersion.Interfaces":
 - any: [ 'src/FunFair.BuildVersion.Interfaces/**/*' ]
"FunFair.BuildVersion.Publishers":
 - any: [ 'src/FunFair.BuildVersion.Publishers/**/*' ]
"FunFair.BuildVersion.Publishers.Tests":
 - any: [ 'src/FunFair.BuildVersion.Publishers.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]
