Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildversion, funfair-buildversion-detection, funfair-buildversion-detection-tests, funfair-buildversion-interfaces, funfair-buildversion-publishers, funfair-buildversion-publishers-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildversion":
 - any: [ 'src/$FunFair.BuildVersion/**/*' ]
"funfair-buildversion-detection":
 - any: [ 'src/$FunFair.BuildVersion.Detection/**/*' ]
"funfair-buildversion-detection-tests":
 - any: [ 'src/$FunFair.BuildVersion.Detection.Tests/**/*' ]
"funfair-buildversion-interfaces":
 - any: [ 'src/$FunFair.BuildVersion.Interfaces/**/*' ]
"funfair-buildversion-publishers":
 - any: [ 'src/$FunFair.BuildVersion.Publishers/**/*' ]
"funfair-buildversion-publishers-tests":
 - any: [ 'src/$FunFair.BuildVersion.Publishers.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.265.1215
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

xUnit.v3
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection.Tests/VersionDetectorTests.cs
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/docker-build-to-registry/action.yml
  .github/actions/docker-build-to-registry/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.203
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Getting the latest build number from github api
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/VersionDetectorTests.cs
  src/FunFair.BuildVersion/Github/BuildTagNumber.cs
  src/FunFair.BuildVersion/Github/GitHubContext.cs
  src/FunFair.BuildVersion/Github/GitUrlProtocol.cs
  src/FunFair.BuildVersion/Github/Models/GithubApiJsonSerializerContext.cs
  src/FunFair.BuildVersion/Github/Models/GithubNewTagRef.cs
  src/FunFair.BuildVersion/Github/Models/GithubTagObject.cs
  src/FunFair.BuildVersion/Github/Models/GithubTagReference.cs
  src/FunFair.BuildVersion/Github/RepoUrlParser.cs
  src/FunFair.BuildVersion/Helpers/GitUrlProtocolRegex.cs
  src/FunFair.BuildVersion/Options.cs
  src/FunFair.BuildVersion/Program.cs
Labels: Change Log, Markdown

Changelog for 6.2.16
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

Cleanup: FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
Labels: C# Project

Cleanup: FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.58.459
  CHANGELOG.md
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.76.1027
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.195
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.8.0.113526
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.21.0
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 2.0.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.81.829
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.266.1250
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.4
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Extracted verion number updates to separate assembly
  src/FunFair.BuildVersion.Detection/ExternalBranchLocators/EnvironmentVariableBranchLocator.cs
  src/FunFair.BuildVersion.Detection/ExternalBranchLocators/LoggingExtensions/EnvironmentVariableBranchLocatorLoggingExtensions.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/FunFair.BuildVersion.GitTagBuildNumber.csproj
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/BuildTagNumber.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/GitHubContext.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/GitUrlProtocol.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubApiJsonSerializerContext.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubNewTagRef.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubTagObject.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubTagReference.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/RepoUrlParser.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Helpers/GitUrlProtocolRegex.cs
  src/FunFair.BuildVersion.sln
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
  src/FunFair.BuildVersion/Github/GitUrlProtocol.cs
  src/FunFair.BuildVersion/Github/Models/GithubApiJsonSerializerContext.cs
  src/FunFair.BuildVersion/Program.cs
Labels: C# Project, C# Solution

Cleanup
  src/FunFair.BuildVersion.Detection/ExternalBranchLocators/EnvironmentVariableBranchLocator.cs
  src/FunFair.BuildVersion.Detection/ExternalBranchLocators/LoggingExtensions/EnvironmentVariableBranchLocatorLoggingExtensions.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubApiJsonSerializerContext.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubNewTagRef.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubTagObject.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/Models/GithubTagReference.cs
  src/FunFair.BuildVersion/Program.cs
Labels: none

More reliable tag version update
  CHANGELOG.md
  src/FunFair.BuildVersion.GitTagBuildNumber/Exceptions/BuildTagNumberException.cs
  src/FunFair.BuildVersion.GitTagBuildNumber/Github/BuildTagNumber.cs
  src/FunFair.BuildVersion/Program.cs
Labels: Change Log, Markdown
