Repository funfair-tech/funfair-build-version, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests, prepublish

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildVersion":
 - any: [ 'src/FunFair.BuildVersion/**/*' ]
"FunFair.BuildVersion.Detection":
 - any: [ 'src/FunFair.BuildVersion.Detection/**/*' ]
"FunFair.BuildVersion.Detection.Tests":
 - any: [ 'src/FunFair.BuildVersion.Detection.Tests/**/*' ]
"FunFair.BuildVersion.Interfaces":
 - any: [ 'src/FunFair.BuildVersion.Interfaces/**/*' ]
"FunFair.BuildVersion.Publishers":
 - any: [ 'src/FunFair.BuildVersion.Publishers/**/*' ]
"FunFair.BuildVersion.Publishers.Tests":
 - any: [ 'src/FunFair.BuildVersion.Publishers.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.700
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-3881] - Updated DotNet SDK to 6.0.202
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.701
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.38.0.46746
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.4.4
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.4.5
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.2.32
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating AsyncFixer (Code analysis) to 1.6.0
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.2.0
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-3881] - Updated DotNet SDK to 6.0.300
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Enabled AOT Compilation
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

Disabled XML doc generation
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers

Disabled XML doc generation
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion

Removed old workflows
  .github/workflows/rebase.yml
Labels: github-actions

[FF-1429] Updating NuGet (Versioning policy) to 6.2.0
  CHANGELOG.md
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Interfaces

[FF-1429] Updating FunFair.CodeAnalysis (Code analysis) to 5.8.2.1317
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.702
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SmartAnalyzers.CSharpExtensions.Annotations (Code analysis) to 4.2.5
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.39.0.47922
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 5.9.5.1833
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
Labels: C# Project, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating Roslynator.Analyzers (Code analysis) to 4.1.1
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-2244] - Code cleanup on BuildVersion.sln
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.40.0.48530
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] Updating SecurityCodeScan.VS2019 (Code analysis) to 5.6.3
  CHANGELOG.md
  src/FunFair.BuildVersion.Detection.Tests/FunFair.BuildVersion.Detection.Tests.csproj
  src/FunFair.BuildVersion.Detection/FunFair.BuildVersion.Detection.csproj
  src/FunFair.BuildVersion.Interfaces/FunFair.BuildVersion.Interfaces.csproj
  src/FunFair.BuildVersion.Publishers.Tests/FunFair.BuildVersion.Publishers.Tests.csproj
  src/FunFair.BuildVersion.Publishers/FunFair.BuildVersion.Publishers.csproj
  src/FunFair.BuildVersion/FunFair.BuildVersion.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildVersion, FunFair.BuildVersion.Detection, FunFair.BuildVersion.Detection.Tests, FunFair.BuildVersion.Interfaces, FunFair.BuildVersion.Publishers, FunFair.BuildVersion.Publishers.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions
